body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #f3f1ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* common styles */
.container {
  width: 870px;
  background: #fff;
  padding: 33px;
  border-radius: 5px;
  margin: 35px 0px;
}

p {
  margin: 0px;
}
h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #562eff;
}

main hr {
  border: 1px solid #d1d1d1;
  margin: 30px 0px;
}

/* Header section css */

.header {
  background-color: #562eff;
  display: flex;
  padding: 23px 285px;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img {
  height: 51px;
  width: 40.424137115478516px;
}
.logo p {
  color: #fff;
  margin-left: 10px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
}

nav {
  align-items: center;
  justify-content: center;
  display: flex;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 0px 16px;
}

nav img {
  width: 51px;
  height: 51px;
  padding: 0px 16px;
}
/* Top Players  */
.top-player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

/* Players   */

.players {
  display: flex;
  gap: 15px;
}

.players img {
  width: 56px;
  height: 56px;
}

.players p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
/* TOP-BLOG */

.top-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.featured-image img {
  width: 177px;
  height: 117px;
}

.blogs {
  display: flex;
  gap: 10px;
  grid-row-gap: 10px;
}

article.blogs {
  margin: 10px 0px;
}

.blog-info p {
  color: #562eff;
}

.blog-info p span {
  color: #9f9f9f;
}

/* Latest Course */
.Latest-Courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  /* filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05)); */
}

.course-featured-image img {
  width: 224px;
  height: 104px;
}

.single-course-card {
  padding: 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5.34229px 13.3557px;
  /* filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05)); */
}

.course-info h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20.0336px;
  line-height: 23px;

  color: #1e1e1e;
}

.course-info p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14.6913px;
  line-height: 17px;
  color: #ed6b4f;
}

/* star-course-rating */

.star-course-rating {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.star-course-rating i {
  font-size: 12px;
}

.gold {
  color: #ffc014;
}

.silver {
  color: #aeaeae;
}

/* course-excerpt */

.course-excerpt {
  display: flex;
  column-gap: 15px;
}

.course-duration {
  display: flex;
  align-items: center;
  column-gap: 5px;
  background-color: #fee5df;
  padding: 5px 10px;
  border-radius: 15px;
}

.course-duration p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14.6913px;
  line-height: 20px;
  color: #ed6b4f;
  margin: 0px;
}
.course-duration i {
  color: #ed6b4f;
  font-size: 14px;
}
